
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

    Aspree.Core.ViewModels.LoggedInUser LoggedInUser = new Aspree.Core.ViewModels.LoggedInUser();
    try { LoggedInUser = ViewBag.LoggedInUser as Aspree.Core.ViewModels.LoggedInUser; } catch (Exception exc) { }

}

 
@section NavBarLeft{
    
        <h3 class="text-themecolor m-b-0 m-t-0">@LoggedInUser.ProjectDisplayName</h3>
     
}
@section NavBarRight{

    

}

 <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="main-content TabCard">
        <div class="justify-content-lg-center">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-body">
                        @Html.Partial("~/Views/Shared/ManageSystemAdminTools.cshtml")
                        <div class="tab-content tabcontent-border">
                            <input type="hidden" id="ProjectId" name="ProjectId" value="@ViewBag.ProjectId"/>
                            <input type="hidden" id="FormId" name="FormId" value="@ViewBag.FormId"/>
                            <div class="tab-pane active" id="manageproject" role="tabpanel">
                                <div class="p-20">
                                    <div class="pull-left">
                                        <h4 class="card-title">Projects</h4>
                                    </div>
                                    <div class="pull-right hide">
                                        <button onclick="Project.add()" type="button" class="btn waves-effect waves-light btn-info">Add New</button>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="table-responsive">
                                        <table id="example23" class="table table-striped text-center table-sm FullWidthTable" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Project sub-type</th>
                                                    <th>Confidential Data</th>
                                                    <th>Consent Model</th>
                                                    <th>Ethics</th>
                                                    <th>Data Storage</th>
                                                    <th>Activation Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Delete Project category -->
<div class="modal fade user-search-poppus" id="manage-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
            </div>
            <div class="modal-body">
                <div class="sf-submit-info">
                    Are you sure want to active/deactivate selected user?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Project.delete()" class="btn-sm waves-effect waves-light btn-info" data-dismiss="modal">Yes</button>
                <button type="button" class="btn-sm  btn btn-inverse waves-effect waves-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="/content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/apps/projects")
<script>
        $(function () {
            $('.system-admin-tools li a').removeClass('active show');
            $('.system-admin-tools li a:eq(0)').addClass('active show');

            $('#sidebarnav > li').removeClass('active');
            $('#sidebarnav > li:nth-child(6)').addClass('active');
        })
</script>
}
