@model  List<Aspree.Core.ViewModels.ActivityCategoryViewModel>
@{
    ViewBag.Title = "Preview Dashboard";
    Layout = "~/Views/Shared/_LayoutTestingDeployment.cshtml";

    var IsProjectAdmin = ViewBag.LoggedInUser.Roles.Contains("Project Admin");
    var AllProjects = ViewBag.AllProjects;
    var LoggedInUserGuid = ViewBag.ProjectUserId;

    Aspree.Core.ViewModels.LoggedInUser LoggedInUser = new Aspree.Core.ViewModels.LoggedInUser();
    try { LoggedInUser = ViewBag.LoggedInUser as Aspree.Core.ViewModels.LoggedInUser; } catch (Exception exc) { }

}

@section NavBarLeft{
<h3 class="text-themecolor m-b-0 m-t-0">@LoggedInUser.ProjectDisplayName</h3>
}
<input type="hidden" id="ProjectId" name="ProjectId" value="@ViewBag.ProjectId" />
<div class="col-sm-12 col-md-12">
    <div class="card-header hide">
        @Html.Partial("~/Views/Shared/ProjectBuilder.cshtml")
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
            <div class="row justify-content-lg-center">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card project-card draft-watermark">
                        <div class="card-header text-left">
                            <h3 class="card-title primary-title">Welcome!</h3>
                            <span>Please select your project</span>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="user-selectpro-wrap pl-3 pr-3" style="min-height:300px;">
                                <div class="row user-selectpro list-unstyled" style="max-height:600px;overflow-y:auto;">
                                    @foreach (var project in AllProjects)
                                    {
                                        foreach (var userrole in project.ProjectStaffMembersRoles)
                                        {
                                            if (userrole.UserGuid == LoggedInUserGuid)
                                            {
                                                if (ViewBag.ProjectId == project.Guid)
                                                {
                                                    <div class="col-md-4 col-sm-4 col-12 active">
                                                        <a id="@project.Guid" style="border-color: currentColor;" onclick="App.goto('/Test/ProjectBuilder/DeploymentPreviewActivities/@project.Guid')" >
                                                            <span class="content-flex">
                                                                <span class="content-flex-item">
                                                                    @project.ProjectName
                                                                    <span>
                                                                        (@userrole.ProjectUserRoleName)
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4 col-sm-4 col-12">
                                                        <a id="@project.Guid" style="cursor: default;">
                                                            <span class="content-flex">
                                                                <span class="content-flex-item">
                                                                    @project.ProjectName
                                                                    <span>
                                                                        (@userrole.ProjectUserRoleName)
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            Deployment.GetProjectByGuid('@ViewBag.ProjectId');
            $('.wizard-content ul li:eq(4)').removeClass('disabled').addClass('current');

            $('#sidebarnav > li').removeClass('active');
            $('#sidebarnav > li:nth-child(5)').addClass('active');
        })
    </script>
    @Scripts.Render("~/apps/deployments")
}
@section Styles{
    <link href="/content/assets/plugins/wizard/steps.css" rel="stylesheet">
    <link href="/content/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
}