@{
    var LoggedInUser = ViewBag.LoggedInUser as Aspree.Core.ViewModels.LoggedInUser;


    string projectColor = string.Empty;
    string projectLogo = string.Empty;
    string projectDisplayNameTextColour = string.Empty;
    string projectDisplayName = LoggedInUser.ProjectDisplayName;

    projectColor = ViewBag.ProjectColor != null ? "style=background:" + ViewBag.ProjectColor : string.Empty;
    projectLogo = ViewBag.ProjectLogo != null ? ViewBag.ProjectLogo : string.Empty;

    projectDisplayNameTextColour = !string.IsNullOrEmpty(LoggedInUser.ProjectDisplayNameTextColour) ? "style=color:" + LoggedInUser.ProjectDisplayNameTextColour : string.Empty;

    bool isHomePage = Request.Url.AbsoluteUri.ToLower().Contains("listofproject");
    projectColor = isHomePage ? string.Empty : projectColor;
    projectLogo = isHomePage ? string.Empty : projectLogo;
    projectDisplayName = isHomePage ? string.Empty : projectDisplayName;
    projectDisplayNameTextColour = isHomePage ? string.Empty : projectDisplayNameTextColour;


    string projId = Request.Url.Segments.GetValue(Request.Url.Segments.Length - 1).ToString();
    if (Session["PreviewProjectId"] != null)
    {
        if (projId != Session["PreviewProjectId"].ToString())
        {
            projId = Session["PreviewProjectId"].ToString();
        }
    }
}
<!DOCTYPE html>
<html lang="en" style="overflow-y:scroll">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/content/assets/images/favicon.png">
    <title>@ViewBag.Title | Aspree</title>
    <!-- Roboto fonts css; ( font-family: 'Roboto', sans-serif; ) -->
    @*<link href="~/Content/assets/fonts/css.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/content/vendor/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome icon CSS -->
    <link href="/content/vendor/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/content/vendor/css/font-awesome.css" rel="stylesheet">
    <link href="/content/vendor/css/themify-icons.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="/content/assets/css/animate.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/content/assets/css/style.css" rel="stylesheet">
    <link href="/content/assets/css/colors/blue.css" rel="stylesheet">

    <!-- Custom Style CSS -->
    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="/content/assets/css/custom-style.css" rel="stylesheet">
    @Styles.Render("~/Content/site")

    @RenderSection("Styles", false)
    <link href="/content/assets/css/responsive.css" rel="stylesheet">
</head>
<body class="light-gray-bg">
    <!-- ==========================================================
    Main Content
    =========================================================== -->


    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="MainHeader topbar theme-bgcolor fixed-top  @(isHomePage ? "home-page-header" : "")" @projectColor>
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
               
                <div class="navbar-header">
                   <!--  <a class="navbar-brand" href="javascript:void(0)">
                        <h1 class="pjt-name">Universal Data System <span class="field-validation-error">-TEST SITE</span> </h1>
                    </a>
                </div>
                -->
                <div class="header-top-left">
                    <a class="navbar-brand header-heading" href="javascript:void(0)">
                        <h1 class="pjt-name" @projectDisplayNameTextColour>@(!string.IsNullOrEmpty(projectDisplayName) ? projectDisplayName : "Universal Data System") <span class="field-validation-error">TEST SITE</span></h1>
                    </a>
                    @if (!string.IsNullOrEmpty(projectLogo))
                    {
                        <div class="headerLogo">
                            <a class="navbar-brand" href="/Home/ListOfProject">
                                <img src="@projectLogo" style="height:65px;" />
                            </a>
                        </div>
                    }
                </div>


                    </div>


                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown hide">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                            <div class="dropdown-menu scale-up-left">
                                <ul class="mega-dropdown-menu row">
                                    <li class="col-lg-3 col-xlg-2 m-b-30">
                                        <h4 class="m-b-20">CAROUSEL</h4>
                                        <!-- CAROUSEL -->
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="container"> <img class="d-block img-fluid" src="/content/assets/images/1.jpg" alt="First slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" src="/content/assets/images/2.jpg" alt="Second slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" src="/content/assets/images/3.jpg" alt="Third slide"></div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </li>
                                    <li class="col-lg-3 m-b-30">
                                        <h4 class="m-b-20">ACCORDION</h4>
                                        <!-- Accordian -->
                                        <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Collapsible Group Item #1
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Collapsible Group Item #2
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Collapsible Group Item #3
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-4 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                           
                            <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                           
                            <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="/content/assets/images/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="/content/assets/images/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="/content/assets/images/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="/content/assets/images/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted white-color waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img data-src="/content/assets/images/user.jpg" src="@(Aspree.Utility.ConfigSettings.WebApiUrl + "user/profile/" + @ViewBag.LoggedInUser.Guid)" onerror="this.src = '/content/assets/images/user.jpg'" alt="user" class="profile-pic"></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img data-src="/content/assets/images/user.jpg" src="@(Aspree.Utility.ConfigSettings.WebApiUrl + "user/profile/" + @ViewBag.LoggedInUser.Guid)" onerror="this.src = '/content/assets/images/user.jpg'" alt="user"></div>
                                            <div class="u-text">
                                                <h4>@ViewBag.LoggedInUser.Name</h4>
                                                <p class="text-muted text-break-word">@ViewBag.LoggedInUser.Email</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/account/manageprofile"><i class="ti-user"></i> My Profile</a></li>
                                    
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/account/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Language -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
            <div class="clear"></div>
        </header>

        @if (ViewBag.ActionName != null)
        {
            <div class="user-header">
                <div class="container-fluid">
                    <div class="clearfix">
                        <div class="uh-profile-wrap pull-left">
                            <div class="uh-profile-name secondary-color">Hi <span>@LoggedInUser.Name</span>!</div>
                        </div>
                    </div>
                </div>
            </div><!-- /.user-header -->
        }
        else
        {
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="nav-small-cap">PERSONAL</li>
                            
                            <li class="three-column">
                                <a class="has-arrow" href="/Home/ListOfProject/" aria-expanded="false"><i class="fa fa-tasks"></i><span class="hide-menu">Projects</span></a>
                            </li>

                            <li class="three-column">
                                <a class="has-arrow" href="/Search/Index/@projId" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Search</span></a>
                            </li>
                            <li class="three-column">
                                <a class="has-arrow" href="/Summary" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Summary</span></a>
                            </li>
                            @if (LoggedInUser.Roles.Contains("Definition Admin"))
                            {
                                <li>
                                    <a class="has-arrow " href="/Roles" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu">Roles</span></a>
                                </li>

                                <li class="three-column">
                                    <a class="has-arrow" href="/EmailTemplate" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Email Templates</span></a>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
        }
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper draft-watermark">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div id="alerts" class="row alerts"></div>
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        @RenderSection("NavBarLeft", false)
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        @RenderSection("NavBarRight", false)
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Aspree</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <div id="processLoader">
        <div class="loader"></div>
    </div>
    <div id="blocker"></div>

    <!-- ==========================================================
    All Jquery Import
    =========================================================== -->
    <script src="/content/assets/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/content/vendor/js/popper.min.js"></script>
    <script src="/content/vendor/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="/content/assets/js/jquery.slimscroll.js"></script>
    <script src="/content/assets/js/waves.js"></script>
    <!--Custom JavaScript -->
    <script src="/content/assets/js/custom.js"></script>
    <!--Menu sidebar -->
    <script src="/content/vendor/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <!--23-09-2019-->
    <!--custom-script JS -->
    @Scripts.Render("~/apps/common")
    <script>
        App.AccessToken = '@ViewBag.AccessToken';
        App.ApiUrl = "@Aspree.Utility.ConfigSettings.WebApiUrl";
    </script>
    @RenderSection("Scripts", false)


    @if (TempData["Success"] != null)
    {
        <script>
            App.showSuccess("@TempData["Success"]");
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <script>
            App.showError("@TempData["Error"]");
        </script>
    }
    <script>
        $(function () {
            App.applyRemoteValidation();
        });
    </script>
</body>
</html>
